.Appointment {
  margin: 20px;
  width: 100%;
}

.AppointmentsTitle {
  color: #192252;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.5px;
}
.AppointmentIcons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.AppointmentDate {
  margin-right: 10px;
  display: flex;
  padding: 12px 16px;

  border-radius: 8px;
  background: #eff3fa;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}
.AppointmentDate img {
  display: flex;
  width: 10px;
  height: 9px;

  flex-shrink: 0;
}
.AppointmentDateText {
  color: #192252;
  text-align: justify;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  padding-right: 10px;
}
.AppointmentCalendar {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 7px 7px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  cursor: pointer;

  background-color: #103f74;
  filter: grayscale(100%);

  border: 1px solid #dfe8f6;
}
.AppointmentCalendar img {
  height: 24px;
}
.Appointmentmore {
  cursor: pointer;
  padding: 7px 7px;

  border-radius: 4px;
  border: 1px solid #dfe8f6;
  background: #fff;

  display: flex;
  width: 24px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.acitveBackground {
  background-color: antiquewhite;
}
.AppointmentDate-right {
  display: flex;

  justify-content: center;
  align-items: center;
}
.TableOfAppointment {
  padding: 20px 10px;
}

.the-first-line-table {
  width: 90%;
  display: flex;
  height: 50px;
  justify-content: space-between;
  border-bottom: 1px solid #c5d0e6;
}

.the-first-line-table img {
  display: flex;
  width: 32px;
  height: 32px;
}
.the-first-line-table .dr-table {
  height: 50px;
  width: 23%;
  border-left: 1px solid #c5d0e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PST {
  width: 4%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.PST-time {
  width: 4%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.the-first-line-table .name-of-dr {
  overflow: hidden;
  color: #192252;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.the-first-line-table .specilty-of-dr {
  color: #848fac;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  opacity: 0.5;
}

.the-line-table {
  width: 90%;
  display: flex;
  height: 100px;
  position: relative;
  justify-content: space-between;
  border-bottom: 1px solid #c5d0e6;
}

.the-line-table .dr-table {
  height: 100px;
  width: 100px;

  border-left: 1px solid #c5d0e6;
}
.the-line-table .dr-table {
  height: 100px;
  width: 23%;
  border-left: 1px solid #c5d0e6;
  position: relative;
}

.table-sep {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 100%;
  border: 1px dashed #c2c2c2;
  opacity: 0.5;
}
.CardOnTable {
  width: 100%;
  height: 50%;
  background-color: #f3f4f6;
  border-radius: 5px;
  padding: 2px 0px 4px 8px;
}

.CardOnTableName {
  color: #192252;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.06px;
}
.CardOnTableStatus {
  color: #848fac;

  /* Caption S */
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  opacity: 0.5;
}
.TableOfAppointmentPhone {
  display: none;
}

/* ========= Appointments Card ======== */
.AppointmentsCard {
  border-radius: 12px;
  border: 1px solid #c5d0e6;
  background: #fff;
  width: 100%;
  height: 100%;
}
.AppointmentsCardUserInfo {
  margin: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5%;
}
.AppointmentsCardUserInfo img {
  width: 65px;
  height: 65px;
}
.AppointmentsCardUserInfoDetils {
}
.AppointmentsCardUserInfoName {
  color: #192252;
  text-align: justify;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
}
.AppointmentsCardUserInfoTime {
  color: #848fac;
  text-align: justify;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}
.AppointmentsCardUserInfodec {
  color: #848fac;
  text-align: justify;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  margin: 20px;
}
.AppointmentsCardButtons {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AppointmentsCardButtonWhite {
  border-radius: 8px;

  border: 1px solid #c5d0e6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #192252;

  padding: 10px 20px;
}
.AppointmentsCardButtonBlue {
  border-radius: 8px;
  background: #103f74;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}
.Appointment-container-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  gap: 16px;
}

@media only screen and (max-width: 768px) {
  .AppointmentIcons {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .the-first-line-table .dr-table img {
    display: none;
  }
  .the-first-line-table {
    width: 90vw;
  }
  .Appointment {
    width: 90vw;
  }
  .the-first-line-table .dr-table .dr-table-info {
    display: none;
  }
  .dr-tablePhone {
    color: #848fac;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    opacity: 0.5;
    text-transform: uppercase;
  }
  .all-day {
    width: 13%;
    border-right: 1px solid #c5d0e6;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848fac;
    font-family: Poppins;
    font-size: 10px;
    text-transform: uppercase;
  }
  .PST-time {
    width: 13%;
    border-right: 1px solid #c5d0e6;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848fac;
    font-family: Poppins;
    font-size: 10px;
  }
  .Appointmentmore {
    margin-left: 10px;
  }

  .TableOfAppointment {
    display: none;
  }
  .TableOfAppointmentPhone {
    display: block;
    /* padding: 20px 10px; */
    width: 80%;
  }

  .the-first-line-table .dr-table {
    height: 50px;
    width: 23%;
    border-right: 1px solid #c5d0e6;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .the-line-table {
    border-bottom: 1px dashed #c2c2c2;
    width: 90vw;
  }
  .the-line-table .dr-table {
    height: 100px;
    width: 23%;
    border-left: 0;
    position: relative;
    border-right: 1px solid #c5d0e6;
  }

  .table-sep {
    display: none;
  }

  .CardOnTable {
    width: 100%;
    height: 70%;
    position: relative;
    left: -14px;
    background-color: #f3f4f6;
    border-radius: 5px;
    padding: 2px 0px 4px 8px;
  }
  .TableOfAppointment-container {
    position: relative;
  }

  /* ========AppointmentsCard======== */

  .AppointmentsCard {
    border-radius: 12px;
    border: 1px solid #c5d0e6;
    background: #fff;
    width: 100%;
    height: 100%;
  }
  .AppointmentsCardButtonBlue {
    font-size: 10px;

    padding: 10px 15px;
  }
  .AppointmentsCardButtonWhite {
    font-size: 10px;
    padding: 10px 15px;
  }
  .Appointment-container-card {
    grid-template-columns: 1fr;
  }
}
