.title-Dashboard {
  color: #192252;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.13px;
  margin: 30px;
}
.first-Container {
  display: flex;
  width: 100%;
  height: 500px;
}
.Title-phone {
  display: none;
}

/* Chart style  */
.left {
  width: 50%;
}

.Charts {
  height: 72%;

  margin-left: 50px;
  border-radius: 8px;
  border: 1px solid #dfe8f6;
  padding: 10px 40px;
  background: #fff;
  margin: 20px;
}
.contianesr-Chart {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.Chart {
  width: 90%;
  height: 100%;
}
.Visits-text {
  color: #192252;
  text-align: justify;
  margin: 20px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
}
.theChart-x {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.x {
  display: flex;
  justify-content: space-between;
  width: 5%;
  flex-direction: column-reverse;
}
.x .Item-count {
  color: #c5d0e6;
  text-align: justify;
  margin: 10px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}
.y {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.y .Item-count {
  color: #c5d0e6;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  line-height: normal;
  letter-spacing: 1px;
  bottom: -50px;
}
.columns {
  width: 48px;
  height: 230px;
  bottom: -20;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 20px;
}
.column {
  border-radius: 8px 8px 0px 0px;
  background: #dfe8f6;
  border-radius: 8px 8px 0px 0px;
  background: #dfe8f6;
  width: 100%;
}
.theBigst {
  background: #56ccf2;
  position: relative;
}
.theBigst::after {
  content: "50%";
  text-align: center;
  font-size: 15px;
  color: #dfe8f6;
  width: 44px;
  height: 23px;
  border-radius: 5px;
  background-color: #192252;
  top: -30px;
  left: 0;
  position: absolute;
}

.theBigst::before {
  content: "";
  border-style: solid;
  border-width: 8px;
  border-color: #192252 transparent transparent transparent;
  position: absolute;
  top: -9px;
  right: 12px;
}
/* calendar Style */
.calendar {
  width: 50%;
  height: 449px;
  flex-shrink: 0;
  border-radius: 8.39px;
  border: 1px solid #dfe8f6;

  background: #fff;
  margin-top: 30px;
}
.CalendarOpen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.CalendarOpen .Calendar-text {
  color: #192252;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.08px;
  text-transform: capitalize;
}
.SpaceCalendar {
  height: 200px;
}
.Upcoming {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.Upcoming-text {
  color: #192252;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 40.965px; /* 256.033% */
}
.View-link {
  color: #56ccf2;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.579px; /* 204.827% */
  text-decoration-line: underline;
}
.box-time {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
.icon-box {
  width: 36.436px;
  height: 36.436px;
  flex-shrink: 0;
  background-color: #2952cc;
  border-radius: 50%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: medium;
}
.box-title {
  color: #192252;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.07px;
}
.box-time {
  color: #848fac;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.06px;
}
/* ListOfMedicalHistory Style */
.MedicalHistoryCardPhone {
  display: none;
}

.detils-of-medical {
  position: fixed;
  width: 28%;
  background-color: black;
  right: -20px;
  top: -80px;
  height: 120vh;
}
.hide-of-medical {
  position: fixed;
  width: 100vw;
  background-color: #0d0d0d;
  right: -20px;
  top: -80px;
  height: 220vh;
  opacity: 0.1;
}
.ListOfMedicalHistory {
  height: fit-content;
  cursor: pointer;

  border-radius: 8px;
  border: 1px solid #dfe8f6;

  background: #fff;
  margin: 20px;
  height: 100vh;
}
.titleOfMedicalHistory {
  color: #192252;
  text-align: justify;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.09px;
  margin: 20px;
}
.LineOfInfo {
  width: 97%;
  height: 50px;
  border-radius: 8px;
  background: #eff3fa;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theType {
  color: #2a3563;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.07px;
  margin: 0 20px;
  text-align: center;
}
.Appointment-title {
  width: 22%;
  text-align: center;
}
.userLine {
  width: 95%;
  height: fit-content;
  border-radius: 8px;
  background: transparent;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.userLine img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.userLine .Fullname {
  color: #192252;
  text-align: justify;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.07px;
}
.Code {
  color: #c5d0e6;
  text-align: justify;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.07px;
}
.date-m,
time,
.Appointment-m {
  color: #2a3563;
  text-align: justify;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
}
.Action {
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Action .icon-status {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.Status {
  display: inline-flex;
  padding: 10px 12px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;

  text-align: justify;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.06px;
}

@media only screen and (max-width: 768px) {
  .first-Container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex-direction: column-reverse; /* Reverse the order for mobile view */
  }

  .left {
    order: 1; /* Change the order of the 'left' div in mobile view */
  }
  .left .title-Dashboard {
    display: none;
  }
  .LineOfInfo {
    display: none;
  }
  .Title-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title-Dashboard {
    color: #192252;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
    letter-spacing: 0.13px;
    margin: 30px;
  }
  .Title-phone img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .Charts {
    display: block;
    width: 69%;
    margin: 10px auto;
    height: 60vh;
    position: relative;
    /* margin: 10px; */
    border-radius: 8px;
    border: 1px solid #dfe8f6;
    /* padding: 10px 40px; */
    background: #fff;
  }
  .y {
    display: flex;

    height: 100%;
    position: relative;
  }
  .contianer-Charts {
    width: 75vw;
  }
  .column {
    border-radius: 8px 8px 0px 0px;
    background: #dfe8f6;
    border-radius: 8px 8px 0px 0px;
    background: #dfe8f6;
    width: 100%;
    height: 50px;
  }
  .columns {
    width: 15px;
    height: 230px;
    bottom: -20;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .first-Container {
    display: flex;
    flex-direction: column;
  }
  .theBigst {
    background: #56ccf2;
    position: relative;
  }
  .theBigst::before {
    content: "";

    border-style: solid;
    border-width: 8px;
    border-color: #192252 transparent transparent transparent;
    position: absolute;
    top: -13px;
    right: -1px;
  }
  .left {
    width: 100%;
  }
  .theBigst::after {
    content: "50%";
    text-align: center;
    font-size: 13px;
    color: #dfe8f6;
    width: 33px;
    height: 19px;
    border-radius: 5px;
    background-color: #192252;
    top: -28px;
    left: -9px;
    position: absolute;
  }

  /* ================= */
  .MedicalHistoryCardPhone {
    border-radius: 12px;
    border: 1px solid #eeeeef;
    margin: 10px;
    background: #fff;
  }
  /* .userLine { */
  /* display: none; */
  /* } */
  .MedicalHistoryCardPhone {
    display: block;
  }
  .ListOfMedicalHistory {
    border-radius: 8px;
    border: 1px solid #dfe8f6;
    background: #fff;
    margin: 20px;
    height: fit-content;
    position: relative;
    /* display: block; */
    top: 58px;
  }
  .userLine-phone {
    width: 95%;
    height: 50px;
    border-radius: 8px;
    background: transparent;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .userLine-phone img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
  .userLine-phone .Fullname {
    color: #192252;
    text-align: justify;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.07px;
  }
  .line-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #eff3fa;
    width: 90%;
    padding: 0 10px;
    margin: auto;
    border-radius: 8px;
  }
  .userLine {
    display: none;
  }
  .line-phone-re-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 90%;
    padding: 0 10px;
    margin: 10px auto;
    border-radius: 8px;
  }
  .Patient {
    color: #2a3563;
    text-align: justify;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
  }
  .Appointment-m {
    color: #192252;
    text-align: justify;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }

  .calendar {
    width: 90%;
    height: 365px;
    flex-shrink: 0;
    border-radius: 8.39px;
    border: 1px solid #dfe8f6;
    background: #fff;
    margin-top: 30px;
    margin: auto;
    position: relative;
  }
}
