.EditPage {
  transform: translateX(-18%);
  transition: 1s;
  padding: 30px 20px;
  animation-name: open;
  animation-duration: 1s;
}
.EditPage-move {
  transform: translateX(0%);
  transition: 1s;
  padding: 30px 20px;
  animation-name: back;
  animation-duration: 1s;
}
@keyframes open {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-18%);
  }
}
@keyframes back {
  from {
    transform: translateX(-18%);
  }
  to {
    transform: translateX(10%);
  }
}
.EditPage-title {
  color: #192252;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 5px;
}

.EditPage-dec {
  color: #848fac;
  text-align: justify;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding: 5px;
}
.cover-tect {
  color: #192252;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08px;
  display: block;
  padding: 10px 5px 10px;
}

.background-edit {
  width: 1200px;
}
.background-edit img {
  height: 225px;
  width: 100%;
  border-radius: 10px;
}
.Profile-picture {
  color: #192252;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08px;
  padding: 5px;
  margin: 20px 0 0;
}
.handel-edit {
  display: flex;
  justify-content: start;
  align-items: center;

  gap: 20px;
  margin: 20px 0;
}
.handel-edit img {
  width: 56px;
  height: 56px;
}
.Change-photo {
  border-radius: 8px;
  background: #103f74;
  padding: 12px 20px;
  color: white;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
}
.Change-photo:hover {
  background: #155bab;
}
.Remove-photo {
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  transition: 500ms;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Remove-photo:hover {
  background-color: #848fac;
  color: white;
}
.inputs-edit {
  margin: 20px 0;
}
.inputs-edit .labal-edit {
  color: #192252;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08px;
  margin-bottom: 10px;
}
.inputs-edit .input-edit {
  width: 100%;
  height: 20px;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #dfe8f6;
  background: transparent;
  outline: none;
  color: black;
}
.inputs-edit .input-edit-textarea {
  width: 100%;
  height: 90px;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #dfe8f6;
  background: transparent;
  outline: none;
  color: black;
}
.inputs-edit .input-edit::placeholder {
  border-radius: 8px;
}
.save-change {
  width: 100%;
  display: flex;
  justify-content: end;
}

.EditPage .save-change {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  margin: 60px 0 0;
}

@media only screen and (max-width: 768px) {
  .EditPage {
    transform: translateX(0%);
    animation-name: none;
    transition: 0;
    width: 100%;
  }
  .EditPage-move {
    display: block;
  }

  .background-edit {
    width: 100vw;
  }
  .background-edit img {
    width: 84vw;
    object-fit: fill;
    height: 134px;
  }
  .Change-photo {
    padding: 11px 13px;
    color: white;
    font-size: 14px;
  }
  .Remove-photo {
    padding: 11px 13px;
    font-size: 14px;
    border-radius: 8px;
  }
  .save-change .Remove-photo {
    padding: 11px 13px;
    height: 20%;
    width: 91%;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #c5d0e6;
    padding: 13px 20px;
  }
  .save-change .Change-photo {
    padding: 11px 13px;
    font-size: 14px;
    height: 20%;
    width: 91%;
    border-radius: 8px;
    border: 1px solid #c5d0e6;
  }
  .save-change {
    justify-content: space-around !important;
    align-items: center;
  }
  .inputs-edit .input-edit {
    width: 77%;
  }
  .inputs-edit .input-edit-textarea {
    width: 77%;
  }
}
