.header-menu {
  width: 100vw;
  height: 100vh;
}
.header-menu .header-menu-container {
  width: 1300px;
  margin: auto;
}
.header-phone {
  display: none;
}
.header {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #dfe8f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-Logo {
  color: black;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  position: relative;
}
.header-Logo span {
  position: absolute;

  flex-shrink: 0;
}
.header-Logo span img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -16px;
  right: -26px;
}
.header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.Notification {
  width: 24px;
  height: 24px;
}
.Setting {
  width: 24px;
  height: 24px;
}
.Avatar {
  width: 42px;
  height: 42px;
}

/* ======== Menu Style ========= */
.After-header {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
}
.header-children {
  width: 85%;
  /* background-color: aqua; */
  height: 100vh;
}
.menu {
  padding-top: 20px;
  width: 20%;
  border-right: 1px solid #dfe8f6;
  height: 100vh;
  transition: 100ms;
  opacity: 0;
  transform: translateX(-150%);
}
.menu-close {
  transform: translateX(0%);
  transition: 1s;
  opacity: 1;
}
.menu-Item {
  display: flex;

  height: 56px;
  justify-content: start;
  align-items: center;
  flex-shrink: 0;
  padding: 0 10px;
  border-radius: 5px;
  left: -10px;
  cursor: pointer;
  margin: 20px 5px;
}
.menu-Item:hover {
  background-color: #eff3fa;
}
.menu-Item:hover .text-item {
  color: #000000;
}

.menu-Item:hover img {
  filter: grayscale(100%);
}
.menu-Item:active img {
  filter: grayscale(100%);
}
.menu-Item img {
  display: flex;
  width: 24px;
  height: 24px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.menu-Item .text-item {
  color: #8a8a8a;

  text-align: justify;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
}
.active .text-item {
  color: #000000;
}
.active {
  color: #000000;
  background-color: #eff3fa;
}
/* ======= mobail style ======= */

@media only screen and (max-width: 768px) {
  .After-header {
    width: 100%;
    height: fit-content;
  }
  .header-children {
    width: 100%;
    height: fit-content;
  }
  .header-menu {
    width: 100vw;
    display: none;
  }
  .header-phone {
    display: block;
    width: 100vw;
    height: fit-content;
  }
  .header-menu .header-menu-container {
    width: 100%;
    height: fit-content;
    position: relative;
  }
  .header {
    padding: 10px 0;
    height: 50px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
  }
  .menu-icon {
    width: 35px;
    height: 35px;
  }
  .Notification {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .Notification-contaianer {
    position: relative;
  }
  .title-phone {
    color: #192252;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .Notification-contaianer::after {
    content: "2";
    width: 20px;
    height: 20px;
    font-size: 14px;

    color: white;
    background-color: #1678f2;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 12px;
    transition: 10s ease;
  }
  .menu {
    position: absolute;
    background-color: white;
    top: 0;
    box-shadow: none;

    z-index: 99;
    width: 65%;
min-height:100vh;
   height: fit-content
    left: -100%;
    transform: translateX(0%);
    opacity: 1;
    transition: 1s;
  }

  .menu-open {
    padding: 10px 0;
    position: absolute;
    background-color: white;
    top: 0;
display:none;
    z-index: 99;
    width: 65%;
    height: 100%;
    box-shadow: 1px 0 49px -9px #868686;
    left: 0;
    transition: 1s;
    height: fit-content;
  }
  .space {
    height: 10px;
  }
  .header-Logo {
    color: #192252;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .Img-user {
    margin-right: 20px;
    width: 40px !important;
    height: 40px !important;
    filter: none !important;
  }
  .logoMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 100%;
  }
  .Notification-menu {
    position: relative;
  }
  .Notification-menu::after {
    content: "2";
    width: 20px;
    height: 20px;
    font-size: 14px;

    color: white;
    background-color: #1678f2;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 5;
    right: -50px;
  }
  .menoOpen {
    margin: 10px;
    margin-right: 20px;
  }
}
